.banner {
    height: 100vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0;
    padding: 0;
}

.banner::before {
    content: '';
    position: absolute;
}
.banner-content {
    position: absolute;
    bottom: 100px;
    left: 50px;
    max-width: 600px;
}

.banner-content .hero-title {
    width: 400px;
    max-width: 90%;
    height: auto;
    margin-bottom: 20px;
    object-fit: contain;
}

.banner-content p {
    padding: 8px 20px;

}

.banner-buttons button {
    padding: 8px 20px;
    margin-right: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    transition: all 0.3s;
}

.banner-buttons button:hover {
    background-color: white;
    color: black;
}

.banner-fadeButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);

} 