body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.netflix-logo {
  width: 100px;
  cursor: pointer;
}

.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-left ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-left ul li a:hover {
  color: #b3b3b3;
}

.navbar-right .logout-btn {
  background: #645d5e;
  border: none;
  padding: 8px 14px;
  color: #000000;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.navbar-right .logout-btn:hover {
  background: #f40612;
}

.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-right i {
  cursor: pointer;
  width: 20px;
}

.avatar {
  width: 25px;
  border-radius: 4px;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

/* Dropdown container */
.navbar .dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 0;
  border-radius: 4px;
  display: none;
  /* hide by default */
  min-width: 150px;
  text-align: center;
  z-index: 2000;
}

/* Show dropdown only on hover */
.navbar-profile:hover .dropdown {
  display: block;
}

/* Sign Out button styling */
.navbar-right .logout-btn {
  background: transparent;
  border: none;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.3s ease, color 0.3s ease;
}

/* Hover effect (Netflix red highlight) */
.navbar-right .logout-btn:hover {
  background: #e50914;
  color: #fff;
}