.row {
  margin: 20px 0;
  padding-left: 20px;
  position: relative;
}

.row h2 {
  margin: 0 0 10px 10px;
  font-size: 22px;
  font-weight: bold;
}

/* container for posters + arrows */
.row-container {
  position: relative;
  overflow: hidden;
  padding: 10px 0;
}

/* posters row */
.row-posters {
  display: flex;
  overflow-x: auto;
  /* overflow-y: hidden; */
  gap: 8px;
  scroll-behavior: smooth;
  padding: 10px 60px; /* leaves space for arrows */
  scrollbar-width: none;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

/* poster card */
.row-poster {
  width: 200px;
  height: 250px;
  border-radius: 4px;
  object-fit: cover;
  transition: transform 0.3s;
  cursor: pointer;
}
.row-poster:hover {
  transform: scale(1.08);
}

/* arrows */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-btn.left {
  left: 10px;
}
.scroll-btn.right {
  right: 10px;
}

.scroll-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
